<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE beans [
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>]>


<beans>
    <!-- dao -->
    <bean id="userDAO" class="com.xxyw.book.dao.impl.UserDAOImpl"/>
    <bean id="bookDAO" class="com.xxyw.book.dao.impl.BookDAOImpl"/>
    <bean id="cartItemDAO" class="com.xxyw.book.dao.impl.CartItemDAOImpl"/>
    <!-- service -->
    <bean id="userService" class="com.xxyw.book.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean id="bookService" class="com.xxyw.book.service.impl.BookServiceImpl">
        <property name="bookDAO" ref="bookDAO"/>
    </bean>
    <bean id="cartItemService" class="com.xxyw.book.service.impl.CartItemServiceImpl">
        <property name="cartItemDAO" ref="cartItemDAO"/>
    </bean>

    <!-- controller -->
    <bean id="user" class="com.xxyw.book.controller.UserController">
        <property name="userService" ref="userService"/>
        <property name="cartItemService" ref="cartItemService"/>
    </bean>
    <bean id="book" class="com.xxyw.book.controller.BookController">
        <property name="bookService" ref="bookService"/>
    </bean>
    <bean id="cart" class="com.xxyw.book.controller.CartController">
        <property name="cartItemService" ref="cartItemService"/>
    </bean>


    <bean id="page" class="com.xxyw.myssm.myspringmvc.PageController"/>

</beans>