<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/common.css}">
    <link rel="stylesheet" th:href="@{css/top.css}">
</head>
<body>
<div id="top_title">欢迎来到QQZone3！</div>
<div id="top_link_div">
    <span th:text="|欢迎进入${session.userBasic.nickName}的空间！|">欢迎进入Jim的空间！</span>
    <!--
    判断进入的是否是自己的空间的依据是
    session中的userBasic和friend的key中保存的UserBasic是否一致
    -->
    <span th:if="${session.userBasic.id!=session.friend.id}">返回自己的空间!</span>
</div>
</body>
</html>
